.button {
    padding: 1rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: .25rem;
    transition: transform .125s ease-in-out, background-color 0.125s ease-in-out;
    cursor: pointer;
    position: relative;
}

.icon {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
}

.button:hover {
    transform: scale(1.0125);
}

.primary {
    background-color: #2E2E2E;
}

.secondary {
    background-color: transparent;
    border: 1px solid #2E2E2E
}

.primary:hover, .secondary:hover {
    background-color: #3d3d3d;
}